In [2]:
#Import Python Libraries
import numpy as np
import pandas as pd

In [7]:
#Read csv file
food = pd.read_csv("mexican.csv")

In [13]:
#แสดงผลการเรียงลำดับจำนวนที่ขาย (quantity) จากมากไปน้อย
food.sort_values(by = 'quantity', ascending = False, inplace = True)
food.head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50

In [24]:
#แสดงค่าสถิติพื้นฐาน
food.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [10]:
#แสดงชื่อ column
food.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [28]:
#แสดงค่าจำนวนขายที่น้อยที่สุด
food['quantity'].min()

1

In [30]:
#แสดงข้อมูลจำนวน 30 แถวแรก โดยเรียงจำนวนยอดขายจากมากไปน้อย
food.sort_values(by = 'quantity', ascending = False, inplace = True)
food.head(30)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
4489,1786,4,Chips and Guacamole,NaN,$17.80
4490,1786,4,Canned Soft Drink,[Coke],$5.00
4491,1786,4,Canned Soft Drink,[Sprite],$5.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00
1425,577,4,Bottled Water,NaN,$6.00
1880,759,4,Bottled Water,NaN,$6.00
3973,1592,4,Canned Soft Drink,[Coke],$5.00
2235,901,4,Canned Soda,[Sprite],$4.36
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
850,350,3,Canned Soft Drink,[Sprite],$3.75
917,379,3,Canned Soft Drink,[Lemonade],$3.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
2823,1121,3,Bottled Water,NaN,$3.27
818,338,3,Bottled Water,NaN,$3.27
3270,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
4186,1671,3,Bottled Water,NaN,$4.50
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
4137,1655,3,Bottled Water,NaN,$4.50
3089,1231,3,Canned Soft Drink,[Diet Coke],$3.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
689,284,3,Canned Soft Drink,[Diet Coke],$3.75

In [ ]:
#แสดง datatype ของตัวแปรที่อ่านข้อมูลเข้ามา
food.dtypes

In [29]:
#แสดงค่าจำนวนขายที่มากที่สุด
food['quantity'].max()

15

In [11]:
#แสดงข้อมูล 5 แถวจากสุดท้าย
food.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4339,1732,1,Canned Soft Drink,[Coke],$1.25
4365,1743,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
4338,1732,1,Chips,NaN,$2.15
4337,1732,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [14]:
#แสดง datatype ของ quantity
food['quantity'].dtype

dtype('int64')

In [22]:
#แสดงค่าเฉลี่ยของจำนวนยอดขายของข้อมูล 20 แถวแรก
food['quantity'].mean()
food.head(20)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
2235,901,4,Canned Soda,[Sprite],$4.36
3973,1592,4,Canned Soft Drink,[Coke],$5.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
1880,759,4,Bottled Water,NaN,$6.00
4489,1786,4,Chips and Guacamole,NaN,$17.80
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00
4491,1786,4,Canned Soft Drink,[Sprite],$5.00
4490,1786,4,Canned Soft Drink,[Coke],$5.00
1425,577,4,Bottled Water,NaN,$6.00
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
1559,633,3,Canned Soft Drink,[Coke],$3.75
2936,1167,3,Chips,NaN,$6.45

In [15]:
#แสดงจำนวนแถวและคอลัมน์ของข้อมูล
food.shape

(4622, 5)

In [17]:
#แสดงจำนวนข้อมูลทั้งหมด
food.size

23110

In [21]:
#แสดงค่าเฉลี่ยของจำนวนที่ขาย
food['quantity'].mean()

1.0757247944612722

In [19]:
#แสดง datatype ของแต่ละ column
food.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [20]:
#แสดงข้อมูล 10 แถวแรก
food.head(10)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
2235,901,4,Canned Soda,[Sprite],$4.36
3973,1592,4,Canned Soft Drink,[Coke],$5.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
1880,759,4,Bottled Water,NaN,$6.00